{:paths ["src"]

 :deps {
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        funcool/promesa {:mvn/version "2.0.1"}
        }
 }
